<section style="background-color:#1c1436;color:white;padding-top: 5rem;padding-bottom: 5rem;">
<div >
  <img src="{{page.logo}}" class="img-responsive" style="margin: 0 auto;" />
  <p>
  </p>
  <p class="lead text-center" style="font-family: bangna-new;">
    {{page.catchphrase}}
  </p>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="{{page.download_link}}" target="_blank" role="button">ดาวน์โหลด</a></p>

{% if page.additionals %}
  <div class="container">
    <div class="col-md-6">
      <p style="font-size: 1.8rem;line-height: 3rem;">
        *ดาวน์โหลดเพิ่มเติม(คลิกที่ลิงก์ด้านล่าง) <br>
        {% for additional_item in page.additionals %}
            <a href="{{additional_item.url}}">{{additional_item.title}}</a> <br>
        {% endfor %}
      </p>
    </div>
  </div>
{% endif %}

</section>
<section style="padding-top: 5rem;padding-bottom: 5rem;">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <p style="font-size: 1.8rem;line-height: 3rem;">
        {{page.desc_text}}
      </p>
    </div>
    <div class="col-md-6">
      <img src="{{page.desc_pic}}" class="img-responsive" style="margin: 0 auto;"/>
    </div>
  </div>
</div>
</section>

{% if page.characters %}
<section style="background-color:#ccd2f1;padding-top: 5rem;padding-bottom: 5rem;">
  <div class="container">
    <div class="row">
      {% for character in page.characters %}
      <div class="col-md-6" style="display: flex;flex-direction: row;margin-top:10px;">
        <img src="{{character.pic}}" class="img-responsive" />
        <div style="margin-left:10px;">
          <h4 style="font-family: bangna-new;">{{character.name}}</h4>
          <p style="font-size: 1.8rem;line-height: 3rem;">
            {{character.desc}}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if page.message %}
<section style="padding-top: 5rem;padding-bottom: 5rem;background-color:##81f7f3;">
  <div class="container">
    <div class="text-center">
      <h2 style="font-size: 3rem;margin-top:2rem;font-family:bangna-new">ข้อควรทราบ</h2>
    </div>
    <div style="font-size: 1.8rem;class="text-center">
        {{page.message | markdownify}}
    </div>
  </div>
</section>
{% endif %}

<section style="padding-top: 5rem;padding-bottom: 5rem;background-color:#f5f5f5;">
  <div class="container">
    <div class="text-center">
      <h2 style="font-size: 3rem;margin-top:2rem;font-family:bangna-new">เครดิต</h2>
    </div>
    <div>
      <p class="text-center">
        {% for credit in page.credits %}
          {{credit.title}}: {{credit.content}} <br>
        {% endfor %}
      </p>
    </div>
  </div>
</section>
