<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}" style="padding-top: 22px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;">
          <img src="{{"/assets/images/master-logo.png" | prepend: site.baseurl }}" class="brand-logo" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.facebook.com/whateverzonepage">เพจเฟซบุ๊ก</a></li>
          <li><a href="{{site.baseurl}}/game">เกมแปลไทย&เกมคนไทย</a></li>
          <li><a href="{{site.baseurl}}/article">บทความ</a></li>
          <li><a href="https://www.facebook.com/pg/whateverzonepage/shop">ซื้อสินค้า</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
