$brand-primary:         darken(#55BB94, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$navbar-height:                    80px !default;
$navbar-default-bg:                #fff !default;

$navbar-default-link-color:                $brand-primary !default;
$btn-border-radius-base:         0px !default; //$border-radius-base
$btn-border-radius-large:        0px !default; //$border-radius-large
$btn-border-radius-small:        0px !default; //$border-radius-small

$font-size-base: 14px;
